<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.undertow.demo.mapper.TestMapper">

	<sql id="baseSql">
	   id,`name`
	</sql>

    <select id="selectById" resultType="com.undertow.demo.entity.Test">
    	select <include refid="baseSql"/> from test where id = #{id}
    </select>

	<insert id="insert">
		insert into test values (#{id},#{name});
	</insert>

</mapper>